body{
    width: 100%;
    margin: 0 auto;
    font-family: sans-serif; 
    background-color: white;
}

.nav-bar{
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color:#1F1E1C;
}

.logo{
    height: 100px;
}

.nav-list{
    float: right; 
}

.list-item{
    height: 60px;
    float: left;
    margin-right: 250px;
    list-style-type: none;
    margin-top: 20px;
    font-size: 24px;
}

.list-item a{
    text-decoration: none;
    color: white;
    padding: 20px;
}

.list-item a:hover{
    color: #CA4246;
}

.hero{
    position: relative;
    height: 785px;
}

.hero-content{
    position: absolute;
    top: 100px;
}

.home-content{ 
    position: relative;
    height: 1250px;
    width: 100%;
    background-image: url(../img/fresno-city.jpg);
    background-attachment: fixed;
}

.content-col{
    height: 400px;
    width: 30%;
    border: 3px solid black;
    float: left;
    margin-left: 175px;
    margin-top: 30px;
    }

.bottom-index{
    margin-left: 470px;
}

.content-pic{
    height: 400px;
    width: 100%;  
}

.prices{
    float: left;
    font-size: 47px;
    margin-left: 90px;
    padding: 34px;
}

.footer-col{
    width: 20%;
    float: right;
    text-align: center;
}

.social{
    display: block;
    margin-top: 5px;
}

.fab{
    font-size: 3em;
    margin-left: 30px;
}

.fa-facebook-square{
    color: #3b5998;
}

.fa-instagram{
    color: #DD2A7B;
}

.copy{
    position: relative;
}

/*******end of index styles*******/

.about-container{
    position: relative;
    height: 1200px;
    width: 100%;
    margin-top: 100px;
    background-image: url(../img/fresno-city.jpg);
    background-attachment: fixed;
}

.about-vid{
    margin-left: 400px;
}

.about-col{
    height: 200px;
    width: 30%;
    border: black solid 3px;
    background-color: white;
    float: left;
    margin-left: 34px;
    margin-top: 160px;
}

.bottom-about{
    margin-left: 175px;
}

.head-replacer{
    height: 50%;
    float: left;   
}

.profile{
    list-style-type: none;
}

.name{
    float: left;
    list-style-type: none;
    padding: 10px;
}

.sponsors{
    float: left;
    padding: 10px;
}

.sponsors2{
    float: left;
    padding: 10px;
    margin-right: 40px;
}

/*******************end of about**********/

.contact-container{
    height: 650px;
    width: 100%;
    margin-top: 150px; 
    background-image: url(../img/fresno-city.jpg);
}

.contact-col1{
    position: relative;
    height: 570px;
    width: 48%;
    border: black solid 3px;
    float: left;
    margin-left: 15px;
    background-color: white;
}

.contact-col2{
    position: relative;
    height: 550px;
    float: left;
    margin-left: 15px;
}

.map-title{
    display: block;
    position: relative;
    left: 170px;
    font-size: 2em;
    margin-top: 25px;
}

.map{
    position: absolute;
    left: 135px;
    top: 112px;
    border: black solid 3px;

}